@model PropertyViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Property</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SummaryDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SummaryDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetailDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetailDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarSpace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarSpace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfBedroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfBedroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfBathroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfBathroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloorArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloorArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrokerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrokerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrokerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrokerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrokerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrokerPhone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="@Model.PropertyId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="AllProperties">Back to List</a>
    </form>
</div>
