@model PropertyViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SummaryDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SummaryDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetailDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetailDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarSpace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarSpace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfBedroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfBedroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfBathroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfBathroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloorArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloorArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrokerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrokerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrokerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrokerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrokerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrokerPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PropertyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@("#DeleteProduct-"+Model?.PropertyId)" data-url="@Url.Action($"Delete/{Model?.PropertyId}")">Delete</a>
    @await Html.PartialAsync("_DeletePropertyPartialView", Model)
</div>
